$color-green-dark: #28b8af;

html {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  .markdown {
    display: flex;
    flex-direction: column;
    gap: .6em;

    h1,h2,h3 {
      font-weight: 500;
    }
    
    h1 {
      font-size: 1.6em;
    }
    h2 {
      font-size: 1.4em;
    }
    h3 {
      font-size: 1.2em;
    }

    a {
      color: $color-green-dark;
    }
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}