html {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body .markdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: .6em;
}

body .markdown h1, body .markdown h2, body .markdown h3 {
  font-weight: 500;
}

body .markdown h1 {
  font-size: 1.6em;
}

body .markdown h2 {
  font-size: 1.4em;
}

body .markdown h3 {
  font-size: 1.2em;
}

body .markdown a {
  color: #28b8af;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
